
.iconContainer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;

    /* Dimensiones del área del icono */
    width: 40px;
    height: 100%;

    /* Color base y suavizado */
    color: #94a3b8;
    /* Slate 400 */
    transition: color 0.2s ease;

    /* Evita que el icono bloquee el clic al input si no es un botón */
    pointer-events: none;
}

/* Ajuste de posición */
.iconLeft {
    left: 0;
}

.iconRight {
    right: 0;
}

.isClickable {
    pointer-events: auto;
    /* Habilitamos clics */
    cursor: pointer;
}

.isClickable:hover {
    color: #64748b;
    /* Slate 500 */
}

.isClickable:active {
    transform: translateY(-50%) scale(0.92);
    /* Efecto de presión */
}

/* El SVG o Icono interno */
.iconContainer svg {
    width: 18px;
    /* Tamaño estándar para inputs de 40px de alto */
    height: 18px;
    stroke-width: 2px;
}