.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    /* Espaciado consistente */
    width: 100%;
}

.alignLeft {
    justify-content: flex-start;
}

.alignCenter {
    justify-content: center;
}

.alignRight {
    justify-content: flex-end;
}